input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.container {
  margin-top: 50px;
}

// .row {
//   padding-top: 100px;
// }

// a {
//   text-decoration: none;
// }

header {
  background-color: #1976d2;
  // box-shadow: 0 0 1px 1px #80808055;
  padding: 20px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

// .forgot-password a {
//   text-decoration: underline;
// }
// .navbar-brand {
//   font-weight: bold;
// }

label {
  margin-top: 5px;
  font-weight: bold;
}

// h3 {
//   margin-left: 21%;
// }

// .message {
//   margin-left: 400px;
//   margin-right: 460px;
// }
// .google-login {
//   text-align: center;
// }
// .col-md-7 {
//   text-align: center;
// }
// btn-login{

// }
.exta-features,
.btn-login {
  text-align: center;
}

// .col-5 {
//   background-color: #5b95ce;
// }
asl-google-signin-button {
  display: inline-block;
  // position: relative;
  // top: 0px;
  // left: 0px;
  // height: 44px;
  // width: 217px;
  // border: 0px;
  // margin: -6px -10px;
}
