.btn.btn-primary {
  width: 100%;
}
a {
  text-decoration: none;
}

header {
  background-color: #1976d2; // box-shadow: 0 0 1px 1px #80808055;
  padding: 20px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  // z-index: 1010;
}

.navbar-brand {
  font-weight: bold;
}
// .form {
//   background-color: whitesmoke;
//   box-shadow: 0 0 1px 1px #80808055;
//   padding: 50px;
// }

// button {
//   text-align: center;
// }
