<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">StartupLynk Invest</a>
    </div>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center" style="margin-top: 50px">
    <div class="col-md-5 col-12">
      <p-messages [(value)]="error" [enableService]="false"> </p-messages>
      <div class="form">
        <p style="font-weight: bold; text-align: center">Forgot Password</p>
        <!-- <p>forgot-password works!</p> -->
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
            <!-- <label for="email">Email </label> -->
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              email="true"
              [(ngModel)]="email"
              required
              placeholder="Email"
            />
          </div>
          <br />
          <!-- <button class="btn btn-secondary" type="submit">
            Reset Password
          </button> -->
          <p-toast position="top-center" key="success"> </p-toast>
          <button
            pRipple
            type="submit"
            class="btn btn-primary"
            [disabled]="!f.valid"
          >
            Reset Password
          </button>
        </form>
        <div style="text-align: center">
          <p>or <a routerLinkActive="active" routerLink="/"> Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
