:host::ng-deep p-panelMenu {
  margin-bottom: 100px;

  //   .p-panelmenu .p-panelmenu-panel .p-panelmenu-header > a {
  //     border-radius: 3px;
  //     margin-bottom: 5px;
  //   }
}
.menu-card {
  // align-items: center;
  padding: 5px;
}
.navbar {
  background-color: whitesmoke;
}

header {
  background-color: aliceblue;
  height: 60px;
  // margin-top: 5px;
}

form {
  background-color: white;
}

.content {
  margin: 10px;
}

label {
  font-weight: 600;
}

i {
  margin-left: 10px;
  font-size: 20px;
}
.pi-instagram {
  color: #991aeb;
}
