<mat-nav-list>
  <h3>StartupLynk Invest</h3>
  <!-- <div class="logo py-4">
    <img src="../../assets/logo.jpg" alt="StartupLynk Invest" />
  </div> -->
  <mat-divider> </mat-divider>
  <h4 matSubheader class="mt-2">Applications</h4>
  <!-- <mat-list> -->
  <a
    class="mat-list-item"
    routerLinkActive="list-item-active"
    routerLink="/home"
    ><mat-icon>home</mat-icon>Home</a
  >
  <a
    class="mat-list-item"
    routerLinkActive="list-item-active"
    routerLink="/dashboard"
    ><mat-icon>dashboard</mat-icon>Dashboard</a
  >
  <a
    class="mat-list-item"
    routerLinkActive="list-item-active"
    routerLink="/startup"
    ><mat-icon>business</mat-icon>Startup</a
  >
  <!-- <a class="mat-list-item"><mat-icon>edit</mat-icon>Link</a> -->
  <!-- </mat-list> -->
</mat-nav-list>
