<!-- <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>

</div> -->
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="isOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (onToggleSideBar)="getToggleRes()"> ></app-header>
    <!-- <p-message severity="error" text="{{ error }}" *ngIf="error"></p-message> -->

    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Update Password</div>
      <div class="error-message">
        <p-messages [(value)]="error" [enableService]="false"> </p-messages>
      </div>
      <div class="mat-elevation-z8">
        <div class="container" style="background-color: white">
          <div class="row">
            <a routerLink="/user/profile"
              ><mat-icon style="color: rgb(90, 120, 165)"
                >arrow_back</mat-icon
              ></a
            >
            <form (ngSubmit)="onSubmit()" #f="ngForm">
              <div>
                <div class="form-group">
                  <label for="currentPassword">Current Password</label>
                  <input
                    type="password"
                    id="currentPassword"
                    class="form-control"
                    name="currentPassword"
                    [(ngModel)]="currentPassword"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="newPassword"> New Password</label>
                  <input
                    type="password"
                    id="newPassword"
                    class="form-control"
                    name="newPassword"
                    [(ngModel)]="newPassword"
                    required
                    pattern="^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$"
                  />
                  <div
                    *ngIf="f.controls?.['newPassword']?.errors?.['pattern']"
                    style="color: #ed5249; font-size: 90%"
                    px
                  >
                    password must contain alphanumeric only.
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirmNewPassword">Confirm New Password</label>
                  <input
                    type="password"
                    id="confirmNewPassword"
                    class="form-control"
                    name="confirmNewPassword"
                    [(ngModel)]="confirmNewPassword"
                    required
                    pattern="{{ f.value.newPassword }}"
                  />
                  <div
                    *ngIf="f.controls?.['confirmNewPassword']?.errors?.['pattern']"
                    style="color: #ed5249; font-size: 90%"
                    px
                  >
                    new password & confirm new password didn't match.
                  </div>
                </div>
              </div>
              <p-toast position="top-center" key="success"> </p-toast>
              <button
                class="btn btn-secondary"
                type="submit"
                [disabled]="!f.valid"
              >
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
