.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-drawer {
  background-color: #0f172a;
  width: 260px;
}

.mat-drawer-container {
  height: 100%;
}

label {
  color: black;
  margin-top: 10px;
  font-weight: 700;
  font-size: 88%;
}

.mat-elevation-z8 {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 185px;
}

.error-message {
  margin-left: 300px;
  margin-right: 300px;
}
